.wrapper {
  position: relative;
}

.container { 
  position: absolute;
  left: 0;
  top: 54px;
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 0x;
  z-index: 3;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
}

.item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #fafafa;
}

.item:hover {
  background-color: #e5e5e5;
}

.disabledItem {
  position: relative;
  cursor: not-allowed;
  opacity: 0.4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background-color: #ffffff;
}

.soon {
  display: flex;
  position: absolute;
  top: 50%;
  left: 110px;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: #bfbfbf;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.amount {
  padding-right: 4px;
}
