.header {
  height: 78px;
  padding: 0px 32px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);

  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.walletIcon {
  display: none;
  margin-left: 18px;
  margin-top: 1px;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 102%;
  } 

  .button {
    display: none;
  }

  .walletIcon {
    display: flex;
  }
}

.title {
  border: none;
  color: #fafafa;
  padding: 0px 0px;
  font-size: 24px;
  font-weight: bold;
}

.whiteNetwork {
  color: #c3c3c3;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  height: 40px;
  padding: 0px 20px;
  margin-left: 20px;
  font-size: 1.1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
  margin-top: 3px;
}

.network {
  height: 40px;
  display: flex;
  align-items: center;
  
  padding: 0px 20px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #37393f;
  font-weight: normal;
  
  font-size: 1.1rem;
  color: #f2342d;
}

.network:hover,
.network:focus,
.network:active {
  cursor: pointer;
  background-color: rgb(49, 51, 56);
}

.account {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-left: 20px;
  background-color: #efefef;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.account:hover,
.account:focus {
  background-color: #d4d4d4;
}