.layout {
  align-self: stretch;
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.product {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 450px;
  max-width: 800px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  margin: 50px 80px;
}

.payment {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 450px;
  max-width: 800px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  margin: 50px 80px;
}

.left {
  align-items: flex-end;
  /* background-color: black; */
}

.right {
  align-items: flex-start;
  /* background-color: white; */
}