.layout {
  align-self: stretch;
  flex-grow: 1;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: stretch;
}

.product {
  flex-grow: 1;
  flex-basis: 0;

  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  background-color: #fff;
  padding-right: 135px;
  padding-top: 70px;
}

.payment {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 135px;
  padding-top: 100px;
  
}

@media screen and (max-width: 1200px) {
  .layout {
    flex-direction: column;
  }

  .product {
    width: 100%;
    justify-content: center;
    padding: 20px 0px 60px 0px;
  }

  .payment {
    width: 100%;
    justify-content: center;
    padding: 20px 0px 100px 0px;
  }
}