.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 4px;
  /* box-shadow: 0 0 0 0.9px #6c86ad,0 2px 4px 0 rgba(0,0,0,.07),0 1px 1.5px 0 rgba(0,0,0,.05); */
}

.subscribe {
  color: #6c86ad;
  font-size: 18px;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: 6px;
}

.name {
  color: #4c668d;
  font-size: 32px;

  padding-left: 10px;
}

.pricebox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 0px 0px;
}

.price {
  font-size: 32px;
}

.period {
  font-size: 20px;
  color: #6c86ad;
}

.mint, .powered {
  font-size: 16px;
  color: #6c86ad;
  margin: 10px 0px 0px 0px;
}

.mint:hover, .powered:hover {
  cursor: pointer;
  text-decoration: underline;
}